/* FileStream Animation Styles */

.filestream {
  --scale: 1;
  width: 100%;
  height: 240px;
  margin-top: -18rem;
  position: relative;
}

@media (max-width: 699px) {
  .filestream {
    --scale: 0.6;
    width: 200%;
    margin-top: -10rem;
  }
}

.horizon {
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: screen;
  width: 140px;
  height: 100%;
  transform: translate(-50%, -50%) scale(var(--scale));
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.horizon[data-active="true"] {
  opacity: 1;
}

.horizon:after {
  opacity: 0;
  content: "";
  transform-origin: 0%;
  background: linear-gradient(90deg, #fff, #6432e6 20%, #6432e600);
  width: 50px;
  transition: opacity 0.2s, transform 0.9s;
  position: absolute;
  top: 0.25px;
  bottom: 0.25px;
  left: 50%;
  transform: scaleX(0);
}

.horizon[data-active="true"]:after {
  opacity: 1;
  transform: scaleX(1);
}

.horizon-line {
  background: 
    radial-gradient(1% 60%, #fff 0%, #4600ff00 80%),
    radial-gradient(10% 60%, #fff, #4600ff1a 20%, #4600ff00 100%),
    radial-gradient(8% 50%, #fff, #4600ff66 20%, #4600ff00 100%);
  position: absolute;
  inset: 0;
}

.horizon-glow {
  opacity: 0.5;
  background: 
    radial-gradient(10% 100%, #fff, #fff0 40%),
    radial-gradient(1% 45%, #fff 60%, #4600ff00 100%),
    radial-gradient(10% 40%, #4600ff99 50%, #4600ff00 100%),
    radial-gradient(20% 50%, #fff 2%, #6432e633 50%, #6432e600 100%),
    radial-gradient(30% 50%, #fff 0%, #6432e6 10%, #6432e600 100%);
  transition: opacity 0.3s ease-in, transform 0.2s ease-in;
  position: absolute;
  inset: -10px 0;
}

.horizon[data-active="true"] .horizon-glow {
  opacity: 1;
}

.mask {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0;
}

.mask[data-position="left"] {
  clip-path: inset(0 0 0 50%);
}

.mask[data-position="right"] {
  clip-path: inset(0 calc(50% - 5px) 0 0);
}

.scroller {
  gap: calc(var(--gap) * 1px);
  flex-shrink: 0;
  justify-content: flex-end;
  height: 100%;
  display: flex;
  overflow: auto;
}

.decrypted {
  transform: scale(var(--scale));
}

.encrypted {
  transform: scale(var(--scale));
  position: relative;
}

.encrypted .chars {
  letter-spacing: 0.4em;
  word-wrap: break-word;
  font-size: 0.65em;
  font-weight: 500;
  line-height: 1.21;
  font-family: var(--font-family-monospace, 'Courier New', monospace);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  color: #dcd2ff99;
  background: #0000001a;
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.encrypted .chars strong {
  color: var(--grey-10, #e5e5e5);
}

.xray {
  height: 100%;
  padding: 10px;
}

.xray img {
  border-radius: 5px;
  width: 140px;
  height: auto;
}
