---
/**
 * EvervaultFooter 组件
 * 
 * 从 Evervault 原始 HTML 中提取的 Footer 部分
 */
---

<footer class="Footer-module__rnk_JG__footer" role="contentinfo">
  <div class="Footer-module__rnk_JG__copyright">
    <div class="Footer-module__rnk_JG__copyrightContent container">
      <p>
        © 2026 Evervault Inc.
        <br class="Footer-module__rnk_JG__copyrightBreak" />
        All rights reserved.
      </p>
      <a class="Footer-module__rnk_JG__status" href="https://status.evervault.com/">
        <p>All systems normal</p>
      </a>
    </div>
  </div>
</footer>
